@charset "UTF-8";

<style>
        body {
            background-color: lightgoldenrodyellow
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }

        h1 {
            color: rgb(39, 39, 248);
            background-color: rgb(250, 204, 87)
        }

        h2 {
            color: rgb(248, 14, 14);
            background-color: lightblue;
        }

        p {
            text-align: justify;
        }
    </style>