@charset "UTF-8";

body {
    background-color: rgb(128, 128, 128);
    font-family: sans-serif;
    }

    main {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        min-width: 320px;
        max-width: 800px;
        margin: auto;
    }
    
    img {
        border-radius: 10px;
        border-style:groove;
    }